<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/bars/create">Create a bar</a>
    <ul>
      <% bars.forEach(function(bar){ %>
        <li><%= bar.email %></li>
      <% }) %>
    </ul>
  </body>
</html>
