<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/cocktails/create">Create a cocktail</a>
    <ul>
      <% cocktails.forEach(function(cocktail){ %>
        <li><%= cocktail.email %></li>
      <% }) %>
    </ul>
  </body>
</html>
