<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello</h1>
    <p>Votre email est <%= commande.email %></p>
    <% if (commande.firstname) { %>
      <p>Votre nom est <%= commande.firstname %> <%= commande.lastname %></p>
    <% } %>
  </body>
</html>
