<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/produits/create">Create a produit</a>
    <ul>
      <% produits.forEach(function(produit){ %>
        <li><%= produit.email %></li>
      <% }) %>
    </ul>
  </body>
</html>
